@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200;300;400;500;600;700&display=swap');

body {
    font-family: "Oswald, san-serif";
    font-size: 20px;
}

.body {
    height: 100%;
    text-align: center;
}

/* ----------------------------------- Colours */

.navbar,
.page-nav,
.hero-element .button,
.footer,
.logo {
    background-color: 	#339cd1;
}

.hero-element .button {
    border-color: #339CD1;
}

.hero-element .button:hover,{
    background-color: #328AD1;
    border-color: #328AD1;
}

.page-nav ul li a,
.hero-element,
.hero-element .button,
.hero-element .button:hover,
.socials a {
    color: #fff;
}

/* ----------------------------------- Images */

.logo {
    background-image: url(../images/LogoSymbol.png);
}

.hero-image {
    background-image: url(../images/HeroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom
}


/* ----------------------------------- Layout and Sizing */


.hero-element .button {
    width: 30%;
    font-size: 20px;
    margin: 15px;
}

.about-us {
    padding-top: 60px;
}

.page-nav {
    font-size: 25px;
    font-weight: 700;
    width: 100%;
    line-height: 85px;
}

.navbar-nav {
    margin: auto;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.page-nav ul li a {
    text-decoration: none;
}

.page-nav ul li a:hover,
.question a:hover {
    text-decoration: underline;
}

.ui-home, 
.ui-services {
    text-align: right;
}

.ui-gallery,
.ui-contact-us {
    text-align: left;
}

.home-body {
    margin-bottom: 25px;
}

.home-element {
    background-color: rgba(194,191,190,.3);
    border: 1px solid black;
    border-radius: 10px;
}

.home-body h2 {
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 20px
}

/* ----------------------------------- Header */

.header-div {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
}

/* ----------------------------------- Logo */

.logo {
    background-size: cover;
    border-radius: 50%;
    border: 2px solid white;
    height: 150px;
    width: 150px;
    position: absolute;
    margin: 0;
    padding: 0;
}

.header-div {
    justify-content: center;
    display: flex;
}

/* ----------------------------------- Hero Image */

.hero-image {
    /* background-size: 100% 100%; */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-element {
    width: 50%;
    text-align: center;
    font-weight: 800;
    background-color: rgba(0,0,0,0.4);
    padding: 65px;
    border-radius: 10px;
}

.hero-element h1 {
    font-size: 50px;
    padding: 5px;
}

.hero-element h2 {
    padding: 3px;
}


/* ----------------------------------- Footer */

.footer {
    font-weight: 500;
    font-size: 20px;
    bottom: 0;
    color: #fff;   
}


.socials {

    font-size: 30px;
}

.socials a {
    margin-left: 15px;
    margin-right: 15px;
}

/* ----------------------------------- Media Queries*/

@media only screen and (max-width: 1200px) {
    .page-nav {
        font-size: 20px;
    }

    .logo {
        height:100px;
        width:100px;
    }

    .header-div {
        height: 70px;
    }

    .page-nav {
        line-height: 55px;
    }

}

@media screen and (min-width: 1000px) {
    .collapse:not(.show) {
        display: block;
        visibility: visible;
    }

    .navbar {
        display: none;
    }



}

@media screen and (max-width: 1000px) {

    .page-nav {
        position: relative;
    }

    .navbar-nav {
        width: 40%;
        margin: 0;
        padding:0;
        position: absolute;
        right: 0;
        top: 70px;
    }

    .nav-item {
        display: block;
        text-align: center;
        background-color: #339CD1;
        border: 1px solid white;
        line-height: 50%;
        width:100%;
    }

    .navbar {
        position: absolute;
        right: 0;
        height: 70px;
    }

    .hero-element {
        width: 80%;
    }

    .hero-element .button {
        width: 30%;
    }
    
    .join-button .button {
        width: 50%;
    }


    

}

@media screen and (max-width: 650px) {
    
    .hero-element .button {
        width: 50%;
    }


}


