@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap');


body {
    font-family: "Century Gothic", "Questrial", "san-serif";
    font-size: 20px;
    background-color: #EEEDED;
}

/* ----------------------------------- Colours */

.navbar,
.header-div,
.footer
 {
    background-color: 	#339cd1;
}

.page-nav ul li a,
.hero-element .button,
.hero-element .button:hover {
    color: #fff;
}

/* ----------------------------------- Images */

.logo {
    background-image: url(../images/Logo.png);
}

.hero-image {
    background-image: url(../images/HeroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/* ----------------------------------- Layout and Sizing */


.page-nav {
    font-size: 25px;
    font-weight: 700;
}

.navbar-nav {
    display: inline-block;
    margin-left: 150px;
}


.nav-item {
    display: inline-block;
    text-align: center;
    margin-right: 20px;
}

.page-nav ul li a {
    text-decoration: none;
}

.page-nav ul li a:hover {
    text-decoration: underline;
}

.header-logo {
    background-color: white;
    height: 100px;
}

.home-contact {
    height: 150px;
    border-radius: 25px;
    margin: 50px;
    padding: 0;
    background-color: white;
}

.home-services {
    height: 300px;
    border-radius: 25px;
    margin: 10px;
    padding: 0;
    background-color: white;
}

.home-services:hover,
.home-contact:hover {
    background-color: #339cd1;
}

.home-services a:hover,
.home-contact a:hover {
    color: #fff
}
.home-body {
    margin-bottom: 25px;
}

.home-body h2 {
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 20px;
}

.icon {
    height: 75px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #A5DFFD;
    margin: auto;
    border: 5px solid #A5DFFD;
}

.page-icon {
    height: 200px;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #A5DFFD;
    margin: 50px auto;
    border: 5px solid #A5DFFD;
}

.roof {
    background-image: url(../images/roof.png);
}

.drive {
    background-image: url(../images/Driveway.png);
}

.deck {
    background-image: url(../images/Deck.png);
}

.soft {
    background-image: url(../images/sponge.png);
}

.pressure {
    background-image: url(../images/Pressure.png);
}

.steam {
    background-image: url(../images/Steam.png);
}

.pure {
    background-image: url(../images/window.png);

}

.chem {
    background-image: url(../images/chemical.png);
}

.email {
    background-image: url(../images/email.png);
}

.contact-intro h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.contact-intro {
    margin-top: 70px;
}

.form-body {
    position: relative;
}

.contact-cover {
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 1;
    background-color: #EEEDED;
}

.gallery-body {
    margin-top: 60px;
    margin-bottom: 50px
}

.gallery-body h1 {
    text-decoration: underline;
}

.home-services a,
.home-contact a {
    text-decoration: none;   
    color: black;
}

.card {
    width: 40%;
    display: inline-block;
    margin-top: 25px;
}

.card-extra {
    width: 20%;
    display: inline-block;
    margin-top: 25px;
}

.card-img-overlay {
    height: 20%;
    background-color: rgba(105, 105, 105, 0.6);
    top: 80%;
}

.card-title {
    color: black;
}

.before-after-gallery {
    margin-bottom: 30px;
}

.page-body {
    margin-bottom: 50px;
}

.footer a {
    color: #fff;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
    color: blue;
}


/* ----------------------------------- Logo */

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 400px;
    margin: 10px auto;

}

/* ----------------------------------- Hero Image */

.hero-image {
    height: 600px;
}

.hero-element {
    width: 300px;
    height: 300px;
    text-align: center;
    font-weight: 800;
    background-color:  #fff;
    border-radius: 10px;
}

.hero-element h2 {
    font-size: 50px;
    padding: 5px;
}

.hero-element h2 {
    padding: 3px;
}


/* ----------------------------------- Footer */

.footer {
    font-weight: 500;
    font-size: 20px;
    bottom: 0;
    color: #fff;   
}


.socials {

    font-size: 30px;
}

.socials a {
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}


/* ----------------------------------- Media Queries*/

@media only screen and (max-width: 1200px) {
    .page-nav {
        font-size: 20px;
    }



}

@media screen and (min-width: 1000px) {
    .collapse:not(.show) {
        display: block;
        visibility: visible;
    }

    .navbar {
        display: none;
    }



}

@media screen and (max-width: 1000px) {

    .page-nav {
        position: relative;
    }

    .navbar-nav {
        width: 35%;
        margin: 0;
        padding: 0;
        position: absolute;
        left: 0; 
        bottom: 0;
    }

    .nav-item {
        display: block;
        text-align: center;
        background-color: #339CD1;
        border: 1px solid white;
        line-height: 50%;
        width: 100%;
    }

    .navbar {
        position: absolute;
        width: 10%;
        left: -15px;
        top: 0;
    }


    .hero-element .button,
    .contact-body button {
        width: 30%;
    }


    

}

@media screen and (max-width: 650px) {
    
    .hero-element .button {
        width: 50%;
    }

    .home-contact {
        width: 30%;
    }


}


