
body {
    font-family: "Century Gothic";
    font-size: 20px;
    background-color: #EEEDED;
}

.body {
    height: 100%;
    text-align: center;
}

/* ----------------------------------- Colours */

.navbar,
.header-div,
.hero-element .button,
.footer,
.logo {
    background-color: 	#339cd1;
}

.hero-element .button {
    border-color: #339CD1;
}

.hero-element .button:hover {
    background-color: #328AD1;
    border-color: #328AD1;
}

.page-nav ul li a,
.hero-element,
.hero-element .button,
.hero-element .button:hover {
    color: #fff;
}

/* ----------------------------------- Images */

.logo {
    background-image: url(../images/Logo.png);
}

.hero-image {
    background-image: url(../images/HeroImage.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}


/* ----------------------------------- Layout and Sizing */


.hero-element .button {
    width: 30%;
    font-size: 20px;
    margin: 15px;
}

.page-nav {
    font-size: 25px;
    font-weight: 700;
    padding-bottom: 20px
}

.navbar-nav {
    margin: auto;
    display: inline-block;
}

.nav-item {
    display: inline-block;
    text-align: center;
}

.page-nav ul li a {
    text-decoration: none;
}

.page-nav ul li a:hover {
    text-decoration: underline;
}

/*
.ui-home, 
.ui-services {
    text-align: right;
}

.ui-gallery,
.ui-contact-us {
    text-align: left;
}
*/

.header-logo {
    background-color: white;
    height: 100px;
}

.home-services {
    height: 250px;
    border-radius: 25px;
    margin: 15px;
    background-color: white;
}

.home-services:hover {
    background-color: #339cd1;
    color: #fff;
}

.home-body,
.services-body {
    margin-bottom: 25px;
}

.home-body h2, {
    text-decoration: underline;
    font-size: 40px;
    margin-bottom: 20px;
}

.roof {
    background-image: url(../images/roof.png);
    height: 75px;
    width: 75px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-color: #A5DFFD;
    margin: auto;
}

.services-body h1 {
    text-decoration: underline;
    font-size: 50px;
    margin-bottom: 40px;
}

.services-body {
    font-size: 27px;
    margin-top: 30px;
}

.contact-body {
    margin-top: 60px;
    margin-bottom: 60px;
}

.contact-body textarea {
    height: 200px;
}

.contact-body h1 {
    margin-top: 10px;
    margin-bottom: 30px;
    text-decoration: underline;
}

.contact-body button {
    width: 10%;
    padding: 10px;
    font-size: 20px;
}

.contact-intro {
    margin-top: 70px;
}

.gallery-body {
    margin-top: 60px;
    margin-bottom: 50px
}

.g-item {
    background-color: #339CD1;
    height: 500px;
    margin: 5px;
    border-radius: 5px;
}

.gallery-body h1 {
    text-decoration: underline;
}

.home-services a {
    text-decoration: none;   
    color: black;
}
/* ----------------------------------- Header */

.header-div {
    width: 100%;

    margin: 0;
    padding: 0;
}

/* ----------------------------------- Logo */

.logo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 200px;
    width: 400px;
    margin: 10px auto;
}

/* ----------------------------------- Hero Image */

.hero-image {
    /* background-size: 100% 100%; */
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-element {
    width: 50%;
    text-align: center;
    font-weight: 800;
    background-color: rgba(0,0,0,0.4);
    padding: 65px;
    border-radius: 10px;
}

.hero-element h1 {
    font-size: 50px;
    padding: 5px;
}

.hero-element h2 {
    padding: 3px;
}


/* ----------------------------------- Footer */

.footer {
    font-weight: 500;
    font-size: 20px;
    bottom: 0;
    color: #fff;   
}


.socials {

    font-size: 30px;
}

.socials a {
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}


/* ----------------------------------- Media Queries*/

@media only screen and (max-width: 1200px) {
    .page-nav {
        font-size: 20px;
    }

    .logo {
        height:100px;
        width:100px;
    }

    .header-div {
        height: 70px;
    }

    .page-nav {
        line-height: 55px;
    }

}

@media screen and (min-width: 1000px) {
    .collapse:not(.show) {
        display: block;
        visibility: visible;
    }

    .navbar {
        display: none;
    }



}

@media screen and (max-width: 1000px) {

    .page-nav {
        position: relative;
    }

    .navbar-nav {
        width: 40%;
        margin: 0;
        padding:0;
        position: absolute;
        right: 0;
        top: 70px;
    }

    .nav-item {
        display: block;
        text-align: center;
        background-color: #339CD1;
        border: 1px solid white;
        line-height: 50%;
        width:100%;
    }

    .navbar {
        position: absolute;
        right: 0;
        height: 70px;
    }

    .hero-element {
        width: 80%;
    }

    .hero-element .button,
    .contact-body button {
        width: 30%;
    }


    

}

@media screen and (max-width: 650px) {
    
    .hero-element .button {
        width: 50%;
    }


}


